* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: 'Arial';
  src: url("Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("Arial-ItalicMT.woff") format("woff"), url("Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url("ArialNarrow-Bold.eot");
  src: local("Arial Narrow Bold"), local("ArialNarrow-Bold"), url("ArialNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-Bold.woff") format("woff"), url("ArialNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("Arial-BoldItalicMT.eot");
  src: local("Arial Bold Italic"), local("Arial-BoldItalicMT"), url("Arial-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldItalicMT.woff") format("woff"), url("Arial-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url("ArialNarrow.eot");
  src: local("Arial Narrow"), local("ArialNarrow"), url("ArialNarrow.eot?#iefix") format("embedded-opentype"), url("ArialNarrow.woff") format("woff"), url("ArialNarrow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("ArialNarrow-Italic.eot");
  src: local("Arial Narrow Italic"), local("ArialNarrow-Italic"), url("ArialNarrow-Italic.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-Italic.woff") format("woff"), url("ArialNarrow-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Arial';
  src: url("ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("ArialMT.eot?#iefix") format("embedded-opentype"), url("ArialMT.woff") format("woff"), url("ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("Arial-BoldMT.eot");
  src: local("Arial Bold"), local("Arial-BoldMT"), url("Arial-BoldMT.eot?#iefix") format("embedded-opentype"), url("Arial-BoldMT.woff") format("woff"), url("Arial-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("Arial-Black.eot");
  src: local("Arial Black"), local("Arial-Black"), url("Arial-Black.eot?#iefix") format("embedded-opentype"), url("Arial-Black.woff") format("woff"), url("Arial-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Arial';
  src: url("ArialNarrow-BoldItalic.eot");
  src: local("Arial Narrow Bold Italic"), local("ArialNarrow-BoldItalic"), url("ArialNarrow-BoldItalic.eot?#iefix") format("embedded-opentype"), url("ArialNarrow-BoldItalic.woff") format("woff"), url("ArialNarrow-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Times New Roman';
  src: url("TimesNewRomanPS-ItalicMT.eot");
  src: local("Times New Roman Italic"), local("TimesNewRomanPS-ItalicMT"), url("TimesNewRomanPS-ItalicMT.eot?#iefix") format("embedded-opentype"), url("TimesNewRomanPS-ItalicMT.woff") format("woff"), url("TimesNewRomanPS-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Times New Roman';
  src: url("TimesNewRomanPS-BoldItalicMT.eot");
  src: local("Times New Roman Bold Italic"), local("TimesNewRomanPS-BoldItalicMT"), url("TimesNewRomanPS-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("TimesNewRomanPS-BoldItalicMT.woff") format("woff"), url("TimesNewRomanPS-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Times New Roman';
  src: url("TimesNewRomanPSMT.eot");
  src: local("Times New Roman"), local("TimesNewRomanPSMT"), url("TimesNewRomanPSMT.eot?#iefix") format("embedded-opentype"), url("TimesNewRomanPSMT.woff") format("woff"), url("TimesNewRomanPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: url("TimesNewRomanPS-BoldMT.eot");
  src: local("Times New Roman Bold"), local("TimesNewRomanPS-BoldMT"), url("TimesNewRomanPS-BoldMT.eot?#iefix") format("embedded-opentype"), url("TimesNewRomanPS-BoldMT.woff") format("woff"), url("TimesNewRomanPS-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  max-width: 1440px;
  min-height: 1700px;
  background: #e8e8e8 url(../IMG/ellipse.png) 110px 63px no-repeat;
}

.content {
  max-width: 850px;
  min-height: 1400px;
  font-family: "Times New Roman";
  padding: 110px 0 0 0;
  margin: 0 auto;
}

.content_top {
  text-align: center;
  margin: 0 0 64px 0;
}
.content_top .title h1 {
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
  margin: 0 0 1px 0;
  text-align: center;
}
.content_top .subtitle p {
  padding: 0 0 0 3px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
  text-align: center;
  max-width: 735px;
  margin: 0 auto;
}

.picture {
  max-width: 835px;
  min-height: 545px;
  margin: 0 auto;
  box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
}
.picture img {
  border: 10px solid #FFF;
}

.content_bottom .text {
  padding: 86px 0 0 52px;
  width: 800px;
  margin: 0 0 40px 0;
  font-size: 24px;
  line-height: 40px;
  color: #4e5f66;
}
.content_bottom .text p:nth-child(1) {
  margin: 0 0 40px 0;
}
.content_bottom .list {
  padding: 0 0 0px 35px;
}
.content_bottom .list li {
  display: block;
  padding: 0 0px 0 15px;
}
.content_bottom .list li:nth-child(1) a {
  font-family: Arial;
  position: relative;
  bottom: 3px;
  left: 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #344851;
}
.content_bottom .list li:nth-child(1) a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 30px;
  margin: 0 9px 0 0;
  position: relative;
  top: 13px;
  left: -1px;
  background: url(../IMG/check_icon.png) 0 0 no-repeat;
}
.content_bottom .list li:nth-child(2) a {
  position: relative;
  bottom: 10px;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic;
  color: #80b7b3;
}
.content_bottom .list li:nth-child(2) a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 30px;
  margin: 0 9px 0 0;
  position: relative;
  top: 13px;
  left: -2px;
  background: url(../IMG/check_icon.png) 0 0 no-repeat;
}
.content_bottom .list li:nth-child(3) a {
  position: relative;
  bottom: 16px;
  left: -1px;
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #273d46;
}
.content_bottom .list li:nth-child(3) a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 30px;
  margin: 0 9px 0 0;
  position: relative;
  top: 14px;
  left: -1px;
  background: url(../IMG/check_icon.png) 0 0 no-repeat;
}
.content_bottom .list li:nth-child(4) a {
  position: relative;
  bottom: 21px;
  left: 0;
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-decoration: line-through;
  color: #afb5b8;
}
.content_bottom .list li:nth-child(4) a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 30px;
  margin: 0 9px 0 0;
  position: relative;
  top: 14px;
  left: -2px;
  background: url(../IMG/check_icon.png) 0 0 no-repeat;
}
.content_bottom .button {
  padding: 30px 0 0 48px;
}
.content_bottom .button a {
  display: inline-block;
  padding: 2px 0 0 30px;
  width: 199px;
  height: 44px;
  border-radius: 50px;
  box-shadow: 2px 3px 1px #000;
  background: #80b7b3;
  font-family: Arial;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}
.content_bottom .button a::after {
  content: '';
  display: inline-block;
  width: 21px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 8px;
  background: url(../IMG/arrow.png) 0 0 no-repeat;
}
.content_bottom .button a:hover {
  background: #5a2327;
}
.content_bottom .button a:active {
  background: #667;
  position: relative;
  top: 3px;
  box-shadow: 0px 0px 0px #000;
}

/*# sourceMappingURL=style.css.map */
